header     
    div(class="title")
        div(class="title-logo")
            img(src="img/logo_td.png", alt="Трезвый Дон")
        div(class="title-inner")
            div(class="title-text") Трезвый Дон
            div(class="title-description") РОСТОВСКАЯ ОБЛАСТНАЯ ОРГАНИЗАЦИЯ УТВЕРЖДЕНИЯ И СОХРАНЕНИЯ ТРЕЗВОСТИ

        