link(type="image/x-icon" rel="shortcut icon" href="img/favicon.ico")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/selectric/selectric.css")
link(rel="stylesheet" href="css/main.css")
<!-- Гугл шрифты -->
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;1,200&family=Nunito:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Oswald:wght@300;700&family=Roboto:ital,wght@0,300;0,700;1,300&family=Source+Sans+Pro:wght@300;700&display=swap" rel="stylesheet")
<!-- CSS only -->
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous")

