extends ../layout/layout.pug
block vars
	- var title = 'Трезвый Дон';
block header
	include ../includes/header.pug
block content
	include ../includes/content-main.pug
block footer
	include ../includes/footer.pug     
              
