@import 'import/reset';
@import 'import/fonts';
@import 'import/var';

header {
  background-image: url(../img/bg_day.jpg);
  background-size: cover;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15%;
    .title-logo > img {
      width: 25vw;
    }
    .title-text {
      font-size: 4vw;
      font-family: $title-fonts;
      font-weight: 700;
      border-radius: 5px;
      margin: 25px;
      color: #000;
      text-align: center;
      background-color: $bg-header-color;
    }
    .title-description {
      font-size: 1.5vw;
      font-family: $title-fonts;
      font-weight: 700;
      border-radius: 5px;
      padding: 0 10px;
      margin: 5px;
      color: #000;
      text-align: center;
      background-color: $bg-header-color;
    }
  }
}

// Оптимизация

@media (max-width: 767.98px) {
  .title-logo > img {
    width: 50vw;
  }
  .title-text {
    font-size: 8vw;
  }
}
